*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}
body {
  z-index: inherit;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #000;
  font-family: var(--font-default);
}
body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #e6b76a, #9178b2);
  line-height: 1.25em;
  opacity: 0.35;
  content: "";
}

strong {
  font-family: var(--font-bold);
}

.container {
  max-width: 1876px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
