:root {
  --font-default: "Exo2-Regular", sans-serif;
  --font-light: "Exo2-Light", sans-serif;
  --font-semibold: "Exo2-SemiBold", sans-serif;
  --font-bold: "Exo2-Bold", sans-serif;
  --font-secondary: "Questrial-Regular", sans-serif;
}
